ul{
	list-style-type: circle; /*some other values disc|square|circle|none*/
}

ul li{
	float: left;
	margin: 10px;
}

ol{
	list-style-type: upper-roman; /*some other values lower-alpha|upper-roman|lower-roman*/
}