table{
	width: 800px;
	border-collapse: collapse;
}

tr{
	
}

td{
	border: 1px solid black;
	text-align: center;
}

th{
	padding: 10px 20px;
	border: 1px solid black;
	background: orange;
}

.even{
	background:silver;
}